{% extends "base.html" %}

{% block content %}
    {% set professions = ["инженер-исследователь", "пилот", "строитель", "экзобиолог", "врач",
    "инженер по терраформированию", "климатолог", "специалист по радиационной защите", "астрогеолог", "гляциолог",
    "инженер жизнеобеспечения", "метеоролог", "оператор марсохода", "киберинженер", "штурман", "пилот дронов"] %}
    {% if list in ["ol", "ul"] %}
        <h2>Список профессий</h2>
        <{{ list }}>
            {% for profession in professions %}
            <li>{{ profession }}</li>
            {% endfor %}
        </{{ list }}>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Неверный параметр!
        </div>
    {% endif %}
{% endblock %}
